{# Note that this template is both embedded into the footer and fetched by
 # the site's locale redirector pages to determine what localizations are
 # available for client-side content negotiation.
 #}
<form autocomplete="off">
  <select class="language-selector">
    {% for locale in LANGUAGES %}
      {% if locale.lower() == LANG.lower() %}
      <option value="{{ locale }}" selected>{{ LANGUAGES[locale] }}</option>
      {% else %}
      <option value="{{ locale }}">{{ LANGUAGES[locale] }}</option>
      {% endif %}
    {% endfor %}
  </select>
  <noscript>
    <ul class="noscript-language-selector">
      {% for locale in LANGUAGES %}
        <li><a href="/{{ locale }}/">{{ LANGUAGES[locale] }}</a></li>
      {% endfor %}
    </ul>
  </noscript>
</form>
